@mixin make-grid-columns($i: 1, $list: ".grid__col-#{$i}, .grid__col-l-#{$i}, .grid__col-t-#{$i}, .grid__col-p-#{$i}") {
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .grid__col-p-#{$i}, .grid__col-t-#{$i}, .grid__col-l-#{$i} .grid__col-#{$i}" ;
    }
    #{$list} {
        position: relative;
        min-height: 1px;
        padding-left:  ceil(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));
        box-sizing: border-box;
    }
}

@mixin float-grid-columns($class, $i: 1, $list: ".grid__col-#{$class}-#{$i}") {
    @if ($class == '') {
        $list: ".grid__col-#{$i}";
    } @else {
        $list: ".grid__col-#{$class}-#{$i}";
    }
    @for $i from (1 + 1) through $grid-columns {
        @if ($class == '') {
            $list: "#{$list}, .grid__col-#{$i}";
        } @else {
            $list: "#{$list}, .grid__col-#{$class}-#{$i}";
        }
    }
    #{$list} {
        float: left;
    }
}

@mixin calc-grid-column($index, $class, $type) {
    @if ($type == width) and ($index > 0) {
        @if ($class == '') {
            .grid__col-#{$index} {
                width: percentage(($index / $grid-columns));
            }
        } @else {
            .grid__col-#{$class}-#{$index} {
                width: percentage(($index / $grid-columns));
            }
        }
    }
    @if ($type == push) and ($index > 0) {
        @if ($class == '') {
            .grid__col-push-#{$index} {
                left: percentage(($index / $grid-columns));
            }
        } @else {
            .grid__col-#{$class}-push-#{$index} {
                left: percentage(($index / $grid-columns));
            }
        }
    }
    @if ($type == push) and ($index == 0) {
        @if ($class == '') {
            .grid__col-push-0 {
                left: auto;
            }
        } @else {
            .grid__col-#{$class}-push-0 {
                left: auto;
            }
        }
    }
    @if ($type == pull) and ($index > 0) {
        @if ($class == '') {
            .grid__col-pull-#{$index} {
                right: percentage(($index / $grid-columns));
            }
        } @else {
            .grid__col-#{$class}-pull-#{$index} {
                right: percentage(($index / $grid-columns));
            }
        }
    }
    @if ($type == pull) and ($index == 0) {
        @if ($class == '') {
            .grid__col-pull-0 {
                right: auto;
            }
        } @else {
            .grid__col-#{$class}-pull-0 {
                right: auto;
            }
        }
    }
    @if ($type == offset) {
        @if ($class == '') {
            .grid__col-offset-#{$index} {
                margin-left: percentage(($index / $grid-columns));
            }
        } @else {
            .grid__col-#{$class}-offset-#{$index} {
                margin-left: percentage(($index / $grid-columns));
            }
        }
    }
}
  
@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}
  
  
@mixin make-grid($class) {
    @include float-grid-columns($class);
    @include loop-grid-columns($grid-columns, $class, width);
    @include loop-grid-columns($grid-columns, $class, pull);
    @include loop-grid-columns($grid-columns, $class, push);
    @include loop-grid-columns($grid-columns, $class, offset);
}
